.animate {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

.animate.fade-in {
	animation-name: fade-in;
}

.animate.go-up {
	animation-name: go-up;
}
.animate.fade-up {
	animation-name: fade-in, go-up;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes go-up {
	from {
		transform: translateY(50%);
	}
	to {
		transform: translateY(0);
	}
}
