// colors
$black: #121212;

// fonts
$button-font: 'Roboto', sans-serif;
$title-font: 'Roboto', sans-serif;
$text-font: 'Roboto', sans-serif;

// sizes
$base-font-size: 16px;
$button-font-size: 22px;
