* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5rem;
	margin-top: 20rem;
	text-align: center;
	/* opacity: 0; */
	/* animation: goUp 1s ease-in 0s infinite forwards normal, spin ...; */
	/* animation-name: scale, spin;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;

	transform-origin: center; */
}

div {
	width: 100px;
	height: 100px;
	background-color: red;
	margin: 0 auto;
	animation: goUp 1s 0s 1, spinNScale 3s 1s infinite;
	animation-timing-function: linear;
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
	animation-fill-mode: both;

	transform-origin: center;
}

@keyframes goUp {
	from {
		opacity: 0;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(-100%);
	}
}

/* @keyframes scale {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(2.5);
	}
} */

@keyframes spinNScale {
	0%,
	100% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(360deg) scale(1.5);
	}
}
